<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <!-- <link rel="stylesheet" href="../public/styles/home.css" type="text/css" /> -->
    <title>Header</title>
  </head>

  <body>
    <nav>
      <span class=""> Cast-a-Net </span>
      <span class=""> Buy </span>
      <span class=""> Sell </span>
      <span class=""> Register </span>
      <span class=""> Login </span>
    </nav>

    <div>
      <form action="">
        <input type="text" />
        <button>button</button>
      </form>
    </div>
    <main>
      <div class="top-row">
        <% for (let listing of templateVars) { %>
          <article class="listing-container">
            <h1><%= listing.title %> </h1>
            <h2>$<%= listing.price %></h2>
            <h2><%= listing.street_name_number %></h2>
            <h2><%= listing.city %></h2>
            <img src="<%= listing.photo_url %>" class="listing-photo">
          </article>
        <% } %>
      </div>
    </main>

    <footer class="main-footer">
      <span> Cast-a-Net <sup>©</sup></span>
      <span class="footer-link"><a href="#top">Back to top</a></span>
    </footer>
  </body>
</html>
